# 日報をGit管理したくない場合は↓を有効化（任意）
notes/daily/

# 常に無視
data
config/urls.txt

# エディタ・OSごみ
.DS_Store
*.swp
.vscode/

# Python cache
__pycache__/
*.py[cod]
*.pyd

# virtualenv
venv/
env/

# mypy
.mypy_cache/

# pytest
.cache/
